*{
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none; 
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}
/* nav-section */
#nav-sec{
    height: auto;
    width: 100%;
}
.nav-info{
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
    margin-top: 16px;
    list-style: none;
}

#nav-sec img{
    height: 40px;
    width: 90px;
    margin-left: 50px;
}
.nav-text li {
    display: inline;
    list-style: none;
    margin-right:20px ;
    font-size: 12px;
    font-weight: 600;
    padding: 34px 0;
}
li a{
    color: black;
}
.nav-btn{
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    width: 150px;
    margin-right: 50px;
    text-align: center;
    padding-top: 10px;
}

/* hero-sec */
.hero-sec-container{
    padding: 115px 120px;
}
#hero-sec{
    background-image: url(./assets/hero-bg.png);
    height: auto;
    width:100% ;
}
.hero-sec-top{
    margin-left: 575px;
    padding-bottom: 16px;
}
.hero-sec-top-btn{
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding-top:10px ;
    color: #30B868;
    border: white;
    border-radius: 100px;
    height: 40px;
    width: 200px;
}
.hero-sec-top-btn img{
    height: 18px;
    width: 18px;
    border-radius: 100%;
    
}
.hero-info h1{
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 62px;
    line-height: 64px;
    padding-bottom: 16px;
}
.hero-info p{
    justify-content: center;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 32px;
    color: white;
}
.hero-sec-btn{
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 10px;

}
.btn-1 img{
    height: 15px;
    width: 15px;
}
.hero-sec-btn .btn-1{
    border: none;
    display:flex;
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    width: 160px;
    height: 40px;
   padding-top: 10px;
}
.hero-sec-btn .btn-2{
    font-size: 10px;
    font-weight: bold;
    color: white;
    display: flex;
    width: 160px;
    height: 40px;
    padding-top: 10px;
    border: 1px solid white;
    background-color: transparent;
}
.hero-sec-btn .btn-2 img{
    height: 14px;
    width: 14px;
    
}
/* card-sec */
.card-sec-container{
    width: 100%;
    height: auto;
}
.card-sec-info h1{
    font-size: 40px;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
}
.card-sec-info p{
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 20px;
    
}
.card-container{
    display: flex;
    margin-left: 336px;
    text-align: center;
    /* height: 300px;
    width: 1360px; */
    gap: 25px;
    
}
.card-info{
    height: 200px;
    width: 210px;
    padding-top: 40px;
    border-radius: 8px;
    background-color: #e7ebef;
    /* border: 1px solid black; */
}
.card-info img{
    background-color: #F95555;
    height: 30px;
    width: 30px;
    padding: 6px;
    border-radius: 100%;
}
.card-info p{
    font-size: 12px;
    color: #627382;
    padding-top: 10px;
}