*{
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none; 
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}
/* nav-section */
#nav-sec{
    height: auto;
    width: 100%;
}
.nav-info{
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
    margin-top: 16px;
    list-style: none;
}

#nav-sec img{
    height: 40px;
    width: 90px;
    margin-left: 50px;
}
.nav-text li {
    display: inline;
    list-style: none;
    margin-right:20px ;
    font-size: 12px;
    font-weight: 600;
    padding: 34px 0;
}
li a{
    color: black;
}
.nav-btn:hover{
    background-color:  #288d4a;
    cursor: pointer;
}
.nav-btn{
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    width: 150px;
    margin-right: 50px;
    text-align: center;
    padding-top: 10px;
}

/* hero-sec */
.hero-sec-container{
    padding: 115px 120px;
}
#hero-sec{
    background-image: url(./assets/hero-bg.png);
    height: auto;
    width:100% ;
}
.hero-sec-top{
    margin-left: 575px;
    padding-bottom: 16px;
}
.hero-sec-top-btn:hover{
    background-color:  #becdc3;
    cursor: pointer;
}
.hero-sec-top-btn{
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding-top:10px ;
    color: #30B868;
    border: white;
    border-radius: 100px;
    height: 40px;
    width: 200px;
}
.hero-sec-top-btn img{
    height: 18px;
    width: 18px;
    border-radius: 100%;
    
}
.hero-info h1{
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 62px;
    line-height: 64px;
    padding-bottom: 16px;
}
.hero-info p{
    justify-content: center;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 32px;
    color: white;
}
.hero-sec-btn{
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 10px;

}
.btn-1 img{
    height: 15px;
    width: 15px;
}
.hero-sec-btn .btn-1:hover{
    background-color:  #288d4a;
    cursor: pointer;
}
    
.hero-sec-btn .btn-1{
    border: none;
    display:flex;
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    width: 160px;
    height: 40px;
   padding-top: 10px;
}
.hero-sec-btn .btn-2:hover{
    background-color:  #288d4a;
    cursor: pointer;
}
.hero-sec-btn .btn-2{
    font-size: 10px;
    font-weight: bold;
    color: white;
    display: flex;
    width: 160px;
    height: 40px;
    padding-top: 10px;
    border: 1px solid white;
    background-color: transparent;
}
.hero-sec-btn .btn-2 img{
    height: 14px;
    width: 14px;
    
}
/* card-sec */
.card-sec-container{
    width: 100%;
    height: auto;
}
.card-sec-info h1{
    font-size: 40px;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
}
.card-sec-info p{
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 20px;
    
}
.card-container{
    display: flex;
    margin-left: 160px;
    text-align: center;
    /* height: 300px;
    width: 1360px; */
    gap: 25px;
    
}
.card-info{
    height: 285px;
    width: 295px;
    padding-top: 72px;
    border-radius: 8px;
    background-color: #e7ebef;
    /* border: 1px solid black; */
}
.card-info img{
    background-color: #F95555;
    height: 45px;
    width: 45px;
    padding: 6px;
    margin-bottom: 20px;
    border-radius: 100%;
}
.card-info p{
    font-size: 12px;
    color: #627382;
    padding-top: 10px;
}
/* foth-sec */
.forth-sec-container{
    display: flex;
    margin: 155px;
}
.first-img{
    height: 500px;
    width: 500px;
}
.forth-info{
    padding-top: 85px;
}
.forth-info h3{
    font-size: 38px;
    font-weight: bold;
    margin-left: 40px;
    padding-bottom: 10px;
}
.forth-info p{
    font-size: 14px;
    color: #627382;
    margin-left: 40px;
    padding-bottom: 15px;
}
.forth-info li{
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}
li img{
    height: 12px;
    width: 12px;
}
/* fifth-sec */
#fifth-sec{
    width: 81%;
    height: auto;
    background-color: #F7F6F2;
    border-radius: 12px;
    justify-content: center;
    text-align: center;
    margin: 0px 160px 160px;
    padding: 0px 80px;
}
.fifth-info h2{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 16px;
}
.fifth-info p{
    font-size: 13px;
    color: #627382;
    padding: 16px;
}
.fifth-btn:hover{
    background-color:  #288d4a;
    cursor: pointer;
}
.fifth-btn{
    background-color: #30B868;
    color: white;
    padding: 15px;
    border-radius: 4px;
    height: 40px;
    width: 160px;
    display: flex;
    padding-top: 10px;
    border: none;
    margin-left: 480px;
}
.fifth-btn img{
    height: 20px;
    width: 20px;
}
/* footer */
#footer-sec{
    background-color: rgb(24, 24, 69);
    max-height: 348px ;
    width: 100%;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    padding: 120px;
}
.footer-info img{
    height: 60px;
    width: 170px;
}
.footer-para{
    color: white;
}
.footer-para img{
    height:15px;
    width: 15px;
    margin-left: 9px;
    border-radius: 100%;
    background-color: white;

}
.copyright-sec{
    color: white;
    text-align: center;
    padding-bottom: 30px;
    font-size: 14px;
}